ex_1/GdbMultiProcess/test
ex_1/code/GdbMultiProess/test
ex_1/googletest/calculator
ex_1/googletest/calculator_test
ex_1/make/hello.out
ex_1/make/max.o
ex_1/make/min.o
ex_1/valgrind/example
ex_1/.DS_Store
ex_2/v1/Person.o
ex_2/v1/info
ex_2/v1/main
ex_2/v2/.idea
ex_2/v2/cmake-build-debug/CMakeFiles
ex_2/v2/Person.o
ex_2/v2/Serializer.o
ex_2/v2/info
ex_2/v2/main
ex_2/v3/.idea
ex_2/v3/build
ex_2/v3/cmake-build-debug
ex_2/v3/Book.o
ex_2/v3/CMakeLists.txt
ex_2/v3/Person.o
ex_2/v3/Serializer.o
ex_2/v3/info
ex_2/v3/main
ex_2/v4/.idea
ex_2/v4/build
ex_2/v4/cmake-build-debug
ex_2/v4/Book.o
ex_2/v4/CMakeLists.txt
ex_2/v4/City.o
ex_2/v4/Person.o
ex_2/v4/Serializer.o
ex_2/v4/info
ex_2/v4/main
ex_2/v5/.idea
ex_2/v5/datafile/info
ex_2/v5/Book.o
ex_2/v5/City.o
ex_2/v5/Person.o
ex_2/v5/Serializer.o
ex_2/v5/main
ex_2/.DS_Store
ex_2/v5/CMakeLists.txt
ex_3/3.12/client
ex_3/3.12/server
ex_3/3.14/client
ex_3/3.14/server
ex_3/3.15/.DS_Store
ex_3/3.15/IClient.o
ex_3/3.15/IServer.o
ex_3/3.15/Makefile
ex_3/3.15/echoServer
ex_3/3.15/sendClient
ex_3/3.16/.DS_Store
ex_3/3.16/client
ex_3/3.16/server
ex_3/3.17/.DS_Store
ex_3/3.17/client
ex_3/3.17/server
ex_3/.DS_Store
ex_4/4.1/main
ex_4/4.1/Plugin.so
ex_4/4.2/plugin/ChinaPlugin.so
ex_4/4.2/plugin/OtherPlugin.so
ex_4/4.2/plugin/WorldPlugin.so
ex_4/4.2/.ChinaPlugin.cpp.swp
ex_4/4.2/.PluginInterface.h.swp
ex_4/4.2/main
ex_4/4.3/Plugin1.so
ex_4/4.3/Plugin2.so
ex_4/4.3/main
ex_4/test/.FileStatPluginInterface.h.swp
ex_4/test/.LineCountPlugin.cpp.swp
ex_4/test/.Makefile.swp
ex_4/test/Plugin1.so
ex_4/test/Plugin2.so
ex_4/.DS_Store
test/plugin/FileStatPlugin.so
test/plugin/OtherPlugin.so
test/plugin/WorldPlugin.so
test/client
test/client1
test/server
.DS_Store
